body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.left {
    width: 100%;
    background-color: lavender;
}

.right {
    max-height: 100vh;
    display: flex;
    position: relative;
    left: auto;
    right: 0;
    transition-property: left, right;
    transition-duration: .4s;
}

.right.visible {
    right: 0;
}

.right__toggle {
    content: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox=''><path fill='white' d='M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z'></path></svg>");
    box-sizing: border-box;
    padding: 9px 12px 9px 9px;
    margin-right: 15px;
    display: none;
    width: 20px;
    width: 40px;
    height: 40px;
    align-self: center;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    transition: background-color .3s;
    cursor: pointer;
}

.right__toggle.active {
    content: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox=''><path fill='white' d='M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z'></path></svg>");
}

.right__toggle:hover {
    background-color: rgba(50, 50, 50, .3);
}

.right__panel {
    width: 300px;
    background-color: lightcoral;
    overflow-y: auto;
}

@media screen and (max-width: 992px) {
    .right__toggle {
        display: block;
    }

    .right {
        position: absolute;
        top: 0;
        left: auto;
        right: -300px;
    }
}